<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅방</title>
</head>
<body>
<form action="home.html" th:action="@{/chat/room}" method="post">
  <label>
    <input type="text" name="roomName"/>
    <input type="submit" value="생성">
  </label>
</form>
<table class="table">
  <thead>
  <tr>
    <th th:text="#{label.room.name}">방제목</th>
    <th th:text="#{label.room.userCount}">참여자 수</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="room : ${rooms}">
    <form id="createForm"
          style="display: none;"
          th:action="@{|/chat/room/${room.chatRoom.id}|}"
          th:method="get">
      <input type="hidden" name="userName"/>
    </form>
    <td onclick="inputUserName(this);" th:text="${room.chatRoom.name}">제목</td>
    <td th:text="${room.userCount}">000</td>
  </tr>
  </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  function inputUserName($this) {
    let userName = prompt('당신의 이름은 무엇인가요?');
    if (userName == null || userName.length === 0) {
      return;
    }
    $($this).parent().find('input[name="userName"]').val(userName);
    $($this).parent().find('form#createForm').submit();
  }

  /*]]>*/
</script>
</body>
</html>